// Variables
@import "variables";

// Bootstrap
// @import "bootstrap/scss/bootstrap";

.rounded-circle {
    @media only screen and (max-width: 600px) {
        border-radius: 0 !important;
    }
}

.w-75 {
    @media only screen and (max-width: 600px) {
        width: 100% !important;
    }
}

.h-75 {
    @media only screen and (max-width: 600px) {
        height: 100% !important;
    }
}

.slick-slide {
    margin: 0px 40px;
}
.slick-slide img {
    width: 180px;
    @media only screen and (max-width: 600px) {
        width: 100px;
    }
}
/*
    .slick-slider
    {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    } */
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* spacer ends */

/* slider styles */
.sd_master_wrapper {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    z-index: 9999;
}
.sdtestBg3 {
    height: 100%;
    width: 80%;
    background: #eee;
    position: absolute;
    bottom: -40px;
    left: 10%;
    border-radius: 20px;
    box-shadow: 0px 18px 52.8537px rgb(215 228 249 / 50%);
    z-index: 1;
}
.sdtestBg2 {
    height: 100%;
    width: 90%;
    background: #eee;
    position: absolute;
    bottom: -22px;
    left: 5%;
    border-radius: 20px;
    box-shadow: 0px 18px 52.8537px rgb(215 228 249 / 50%);
    z-index: 2;
}

.sd_scroll {
    height: auto;
    max-height: 180px;
    overflow: auto;
}

.text-primary {
    color: #0e3e30 !important;
}

.slideshow {
    position: relative;
    height: auto;
    background: #eee;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    border-radius: 20px;
    background-image: url(https://img.icons8.com/glyph-neue/64/quote-left.png),
        url(https://img.icons8.com/glyph-neue/64/quote-right.png);
    background-position:
        top 15px left 15px,
        bottom 40% right 15px;
    background-repeat: no-repeat;
    background-size: 50px, 50px;
    z-index: 3;
    @media only screen and (max-width: 600px) {
        background-size: 20px, 20px;
    }
}
button.slick-prev.slick-arrow {
    position: absolute;
    z-index: 9999;
    bottom: -80px;
    left: 10px;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    background-image: url(https://img.icons8.com/ios-filled/50/circled-left-2.png);
    background-size: 100% 100%;
}
button.slick-next.slick-arrow {
    position: absolute;
    bottom: -82px;
    right: 10px;
    background: transparent;
    color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    height: 30px;
    width: 30px;
    background-image: url(https://img.icons8.com/ios-filled/50/circled-right-2.png);
    background-size: 100% 100%;
}
.pagingInfo {
    position: absolute;
    bottom: 0;
    z-index: 999;
}
.sdCustomSliderHeadig {
    font-family: "Montserrat", sans-serif;
    color: #474c52;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    text-align: center;
}
.sdCustomSliderBtn {
    display: inline-block;
    text-decoration: none;
    font-family: montserrat;
    background: #e31c3a;
    color: #fff;
    padding: 12px 25px;
    margin-top: 30px;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}
.sdAllContent {
    width: 75%;
    margin: auto;
}

.studio {
    position: relative;
    background: #e7eaec;
    margin-left: -100px;
    @media only screen and (max-width: 600px) {
        margin-left: 0;
    }
}

.text-overflow-custom {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.content {
    display: block !important;
    padding: 5px;
    margin: 30px 0;
}
.SdClientName {
    text-align: center;
    color: #272d4e;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    margin-top: 15px;
}
.SdClientDesc {
    text-align: center;
    color: #0e3e30;
    font-size: 18px;
    line-height: 1.4em;
    margin: 10px 0;
    font-weight: bold;
}

/* style for moblile */
@media (max-width: 576px) {
    .sd_scroll {
        height: auto;
        overflow: auto;
        max-height: 240px;
    }

    .thumbnail,
    .btnNtxt {
        width: 100% !important;
        display: block !important;
    }
}
/* scroll bar */
/* total width */
.sd_scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

/* background of the scrollbar except button or resizer */
.sd_scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
.sd_scroll::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

/* scrollbar itself */
.sd_scroll::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
}
.sd_scroll::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
}

.footer-icon {
    &:hover {
        transform: rotateX(180deg);
        background-color: #fff;
        svg {
            fill: #0e3e30;
        }
    }
}

.foot-back {
    background-color: #000;
}

.text-3-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.custom-image {
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.curved-image {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.curved-image-left {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.curved-image-full {
    border-radius: 50px;
}

.card-rounded {
    border-radius: 20px !important;
}

.font-lus {
    font-family: "DM Serif Display", serif !important;
}

.font-lib {
    font-family: "Libre Caslon Display", serif !important;
}

.font-man {
    font-family: "Manrope", sans-serif !important;
}

.navbar-brand img {
    width: 80px;
}
.navbar-nav {
    align-items: center;
}
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 12px;
    padding: 0.5em 1em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }
    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    @media only screen and (max-width: 600px) {
        height: auto;
    }
}

.curved-image-top {
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

.btn {
    box-shadow: 0.25em 0.25em transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
        box-shadow: 0.25em 0.25em #107c5e;
        transform: translate(0.25em, 0.25em);
        color: #fff;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.fs-18 {
    font-size: 14px;
}

.dots {
    h2 {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: #eee;
    }
}
.font-mont {
    font-family: "Montserrat", sans-serif !important;
}

#toast-container {
    font-family: "Montserrat", sans-serif !important;
}

.img-height {
    width: 305px;
    height: 280px;
    display: flex;
    margin: auto;
    @media only screen and (max-width: 600px) {
       width: 100%;
       padding-left: 15px;
       padding-right: 15px;
    }
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.b-sale {
    h2 {
        font-size: 24px;
        font-family: "DM Serif Display", serif;
    }

    h1 {
        font-size: 32px;
        font-family: "DM Serif Display", serif;
    }
    h3 {
        font-size: 28px;
        font-family: "DM Serif Display", serif;
    }
    a {
        font-family: "Montserrat", sans-serif;
        margin-top: 20px;
    }
}

.bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    @media only screen and (max-width: 600px) {
        height: 70vh;
    }
    background: url(//static.showit.co/1200/cdw081gWThyiPxQCIWhvtw/65041/saffron-avenue-brand-design-showit-website-templates-048.jpg)
        no-repeat center center/cover;
}

.se-line {
    stroke: rgba(255, 255, 255, 1);
    transform: scaleX(-1);
    padding: 0.5px;
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

.studio-img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    @media only screen and (max-width: 600px) {
        height: 200px;
        width: 100%;
    }
}

.w-fifty {
    width: 50%;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
}

.card-height {
    height: 400px;
    @media only screen and (max-width: 600px) {
        height: auto;;
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 50%);
    background-size: 3px 3px;
    z-index: 2;
}

.main-h1 {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    max-width: 70%;
    width: 100%;
    height: 30%;
    @media only screen and (max-width: 600px) {
        max-width: 90%;
    }
}
